In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("survey_results_public.csv")
df.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0

In [2]:
df = df[["Age","Country", "EdLevel","Employment","YearsCodePro", "ConvertedCompYearly"]]
df.head()

,Age,Country,EdLevel,Employment,YearsCodePro,ConvertedCompYearly
0,18-24 years old,NaN,NaN,NaN,NaN,NaN
1,25-34 years old,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time",9,285000.0
2,45-54 years old,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time",23,250000.0
3,25-34 years old,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time",7,156000.0
4,25-34 years old,Philippines,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time;Independent contractor, fr...",4,23456.0

In [3]:
df = df.dropna()
df.isnull().sum()

Age                    0
Country                0
EdLevel                0
Employment             0
YearsCodePro           0
ConvertedCompYearly    0
dtype: int64

In [4]:
df = df[df["Employment"] == "Employed, full-time"]
df = df.drop("Employment", axis=1)

In [5]:
def clean(categories, threshold):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= threshold:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] = 'Other'
    return categorical_map

In [6]:
country_map = clean(df.Country.value_counts(), 300)
df['Country'] = df['Country'].map(country_map)
df.Country.value_counts()

Country
United States of America                                10569
Other                                                    6526
Germany                                                  3201
United Kingdom of Great Britain and Northern Ireland     3072
Canada                                                   1807
India                                                    1600
France                                                   1458
Netherlands                                              1002
Australia                                                 985
Brazil                                                    972
Spain                                                     966
Sweden                                                    882
Italy                                                     826
Poland                                                    740
Switzerland                                               511
Denmark                                                   440
Norway                                                    428
Israel                                                    414
Portugal                                                  385
Austria                                                   384
Finland                                                   376
Belgium                                                   345
Russian Federation                                        334
New Zealand                                               320
Ukraine                                                   308
Turkey                                                    304
Name: count, dtype: int64

In [7]:
def clean_experience(x):
    if x ==  'More than 50 years':
        return 50
    if x == 'Less than 1 year':
        return 0.5
    return float(x)

df['YearsCodePro'] = df['YearsCodePro'].apply(clean_experience)

In [8]:
def clean_education(x):
    if 'Bachelor’s degree' in x:
        return 'Bachelor’s degree'
    if 'Master’s degree' in x:
        return 'Master’s degree'
    if 'Professional degree' in x or 'Other doctoral' in x:
        return 'Post grad'
    return 'Less than a Bachelors'

df['EdLevel'] = df['EdLevel'].apply(clean_education)

In [9]:
df["EdLevel"].unique()

array(['Bachelor’s degree', 'Less than a Bachelors', 'Master’s degree',
       'Post grad'], dtype=object)

In [10]:
df["YearsCodePro"].unique()

array([ 9. , 23. ,  7. , 21. ,  3. , 15. ,  0.5, 10. ,  2. ,  6. , 14. ,
        5. , 19. , 13. ,  4. , 16. , 28. , 11. ,  8. , 24. , 17. , 29. ,
       25. , 12. , 20. , 18. , 30. , 27. , 43. ,  1. , 38. , 33. , 22. ,
       40. , 34. , 42. , 26. , 31. , 36. , 39. , 32. , 44. , 37. , 35. ,
       48. , 50. , 45. , 41. , 46. , 49. , 47. ])

In [11]:
df["Age"].unique()

array(['25-34 years old', '45-54 years old', '35-44 years old',
       'Under 18 years old', '55-64 years old', '18-24 years old',
       '65 years or older', 'Prefer not to say'], dtype=object)

In [12]:

from sklearn.preprocessing import LabelEncoder
le_education = LabelEncoder()
df['EdLevel'] = le_education.fit_transform(df['EdLevel'])
df["EdLevel"].unique()

array([0, 1, 2, 3])

In [13]:
le_country = LabelEncoder()
df['Country'] = le_country.fit_transform(df['Country'])
df["Country"].unique()

array([25, 24,  6,  0, 12,  8, 20,  7, 15, 19,  3, 17, 11,  4, 21,  9, 18,
        1, 14, 22,  2,  5, 10, 23, 16, 13])

In [14]:
le_age = LabelEncoder()
df['Age'] = le_age.fit_transform(df['Age'])
df["Age"].unique()

array([1, 3, 2, 7, 4, 0, 5, 6])

In [15]:
X = df.drop("ConvertedCompYearly", axis=1)
y = df["ConvertedCompYearly"]

In [16]:
#find the best model
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

max_depth = [None, 2,4,6,8,10,12]
parameters = {"max_depth": max_depth}

regressor = DecisionTreeRegressor(random_state=0)
gs = GridSearchCV(regressor, parameters, scoring='neg_mean_squared_error')
gs.fit(X, y.values)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [17]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
regressor = gs.best_estimator_

regressor.fit(X, y.values)
y_pred = regressor.predict(X)
error = np.sqrt(mean_squared_error(y, y_pred))
print("${:,.02f}".format(error))

$329,220.31

In [18]:
X

       Age  Country  EdLevel  YearsCodePro
1        1       25        0           9.0
2        3       25        0          23.0
3        1       25        0           7.0
5        2       24        1          21.0
6        2       25        1           3.0
...    ...      ...      ...           ...
89160    1       15        3           5.0
89162    2        3        2          24.0
89167    0        9        0           2.0
89170    1        7        2           9.0
89171    1       15        2           9.0

[39155 rows x 4 columns]

In [27]:
# age,country, edlevel, yearscodepro
X = np.array([['25-34 years old',"Germany", 'Master’s degree', 15 ]])
X

array([['25-34 years old', 'Germany', 'Master’s degree', '15']],
      dtype='<U15')

In [28]:

X[:, 0] = le_age.transform(X[:, 0])
X[:, 1] = le_country.transform(X[:,1])
X[:, 2] = le_education.transform(X[:,2])
X = X.astype(float)
X

array([[ 1.,  8.,  2., 15.]])

In [29]:
y_pred = regressor.predict(X)
y_pred

C:\Users\merye\anaconda3\envs\mlapp\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([89515.23310768])

In [30]:
#save the model 
import pickle
data = {"model": regressor, "le_age": le_age, "le_country": le_country, "le_education": le_education}
with open('saved_steps.pkl', 'wb') as file:
    pickle.dump(data, file)
with open('saved_steps.pkl', 'rb') as file:
    data = pickle.load(file)

regressor_loaded = data["model"]
le_age=data["le_age"]
le_country = data["le_country"]
le_education = data["le_education"]
y_pred = regressor_loaded.predict(X)
y_pred

C:\Users\merye\anaconda3\envs\mlapp\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([89515.23310768])